.modal {
  background-color: #fff;
  border: 1px solid #646464;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  margin: 0 auto;
  padding: 40px 15px;
  min-width: 290px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  max-width: 224px;
  margin: 0 auto 30px;
}

.callback__label {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.callback__label-text {
  position: absolute;
  top: 5px;
  left: 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  color: #303030;
}

.callback__input {
  border: 1px solid #AFAFAF;
  border-radius: 6px;
  width: 100%;
  min-height: 74px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 130%;
}

.callback__input::placeholder {
  color: #AFAFAF;
}

.callback__group:not(:last-child) {
  margin-bottom: 40px;
}

.connect__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}

.connect__label {
  display: block;
  margin-bottom: 15px;
}

.callback__btn {
  display: block;
  margin: 0 auto;
}

.connect__radio {
  margin-right: 15px;
}


@media (min-width: 480px) { 
  .modal {
    max-width: 400px;
  }
}